<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% with page_title="ZEUS - ORDERS" %}
    <!-- Meta module -->
    {% include 'lost-empire/site_templates/modules/HEAD_META/meta.html' %}
    {% endwith %}
    <!-- Icon module -->
    {% include 'lost-empire/site_templates/modules/HEAD_ICON/icon.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/content_style.css?h=6562ca45ebba28f2a7c781760ef2d5b4' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-Clean.css?h=715af1a9f7d7373d9121fe5fcbe570a6' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/styles.css?h=d70065106814f9781a755c254691f8c2' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/zeus/orders.css?h=082fd156e49613dd774e13eb05983402' %}">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <!-- Zeus Navbar module -->
            {% include 'lost-empire/site_templates/modules/navbar/zeus/navbar.html' %}
        </section>
        <section id="hero_1">
            <div class="container">
                <div class="row d-flex justify-content-center justify-content-lg-start justify-content-xl-start">
                    <div class="col-sm-10 col-md-10 col-lg-6 col-xl-6 search-col">
                        <h4 class="text-light">Total Orders ( {{order_data | length}} )</h4>
                        <form action="/zeus/orders" method="get">
                            <div class="form-group"><label class="text-light" for="search_id">Search for the order by putting in the order ID that's been given to you.</label>
                                
                                <!-- Alert module -->
                                {% include 'lost-empire/site_templates/modules/alert/alert.html' %}

                                <input class="form-control" type="search" id="search_id" name="order_id" placeholder="Enter order ID" required="">
                            </div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">SEARCH ORDER ID</button></div>
                        </form>
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Sort by&nbsp;</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="/zeus/orders?sort=r">Random</a><a class="dropdown-item" href="/zeus/orders?sort=complete">COMPLETED</a><a class="dropdown-item" href="/zeus/orders?sort=waiting">WAITING</a><a class="dropdown-item" href="/zeus/orders?sort=denied">DENIED</a><a class="dropdown-item" href="/zeus/orders?sort=no">Newest - Oldest</a><a class="dropdown-item" href="/zeus/orders?sort=on">Oldest - Newest</a></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-center justify-content-md-start justify-content-lg-start justify-content-xl-start">
                    <!-- Content module -->
                    {% include 'lost-empire/site_templates/modules/pages/zeus/orders/order.html' %}
                </div>
            </div>
        </section>
    </div>
    <div class="footer-dark">
        <!-- Footer module -->
        {% include 'lost-empire/site_templates/modules/footer/footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'lost-empire/assets/js/ghost.js?h=4e8811a537424a39e02a3ff5ae6220f2' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>