<div class="col-10 col-sm-8 col-md-4 col-lg-2 col-xl-2 offset-1 offset-sm-2 offset-md-0 d-flex flex-column">
	<a class="account-nav-links {% if request.path == '/account' %}active{% endif %}" href="/account">DETAILS</a>
	<a class="account-nav-links {% if request.path == '/account/history' %}active{% endif %}" href="/account/history">HISTORY</a>
	<a class="account-nav-links {% if request.path == '/account/security' %}active{% endif %}" href="/account/security">SECURITY</a>
	<a class="account-nav-links {% if request.path == '/zeus/orders' %}active{% endif %}" href="/zeus/orders">ZEUS</a>
</div>