#hero_1 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.div-separetors {
  padding-top: 1px;
  background: var(--gray);
  margin-top: 10px;
  margin-bottom: 10px;
}

.product_image {
  max-height: 100vh;
  width: 1200px;
}

.product_size_btn {
  border-radius: 0px !important;
  border-width: 2px;
  border-color: #ffffff;
  background: #000000 !important;
  color: #ffffff !important;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.product_size_btn.active {
  border-color: #ffffff;
  background: white !important;
  color: black !important;
}

.add_to_cart_btn {
  margin-top: 10px;
  background: rgb(255,255,255);
}

.add_to_cart_btn:disabled, .add_to_cart_btn.disabled {
  margin-top: 10px;
  background: rgb(255,255,255);
  opacity: 0.15;
}

#collapse-1, #collapse-2 {
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background: #ffffff;
  color: rgb(0,0,0);
  border-radius: 5px;
  font-family: Tomorrow, sans-serif;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

#collapse-1 > div > h2, #collapse-2 > div > h2 {
  color: rgb(0,0,0);
  border-bottom-style: solid;
  border-bottom-color: var(--gray);
  font-weight: bold;
  font-size: 20px;
}

#collapse-1 > div > p, #collapse-2 > div > p {
  color: rgb(118,118,118);
  font-size: 12px;
}

.return_policy_list {
  color: rgb(118,118,118);
  font-size: 12px;
}

#policy_btn {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mini_product_image {
  border-style: solid;
  border-color: var(--gray);
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  cursor: pointer;
}

.mini_product_image.active {
  border-style: solid;
  border-color: rgb(255,255,255);
}

.mini_product_image:hover {
  background: rgba(64,64,64,0.4);
}

/* Content Style for cards when white */

.big_product_image.card-color-white {
  background: #ffffff;
  border-radius: 5px;
}

.mini_product_image.active.card-color-white {
  background: rgb(255,255,255);
  border-width: 5.4px;
  border-color: rgb(94,132,171);
}

.mini_product_image.card-color-white {
  background: rgb(255,255,255);
}

.mini_product_image.card-color-white:hover {
  background: rgb(255,255,255);
  border-color: rgb(94,132,171);
}

/* Content Style for cards when black */

.big_product_image.card-color-black {
  background: black;
  border-radius: 5px;
}

.mini_product_image.active.card-color-black {
  background: black;
  border-width: 5.4px;
  border-color: white;
}

.mini_product_image.card-color-black {
  background: black;
}

.mini_product_image.card-color-black:hover {
  background: black;
  border-color: white;
}

/* Content Style for cards when Gray */

.big_product_image.card-color-gray {
  background: rgb(139,139,139);
  border-radius: 5px;
}

.mini_product_image.active.card-color-gray {
  background: rgb(139,139,139);
  border-width: 5.4px;
  border-color: white;
}

.mini_product_image.card-color-gray {
  background: rgb(139,139,139);
}

.mini_product_image.card-color-gray:hover {
  background: rgb(139,139,139);
  border-color: white;
}

