<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% with page_title="ACCOUNT - HISTORY" %}
    <!-- Meta module -->
    {% include 'lost-empire/site_templates/modules/HEAD_META/meta.html' %}
    {% endwith %}
    <!-- Icon module -->
    {% include 'lost-empire/site_templates/modules/HEAD_ICON/icon.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/account/account.css?h=0a8e5b070d66914380af7e1bf9b7c6ba' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/account/history.css?h=ba1f4d2516ac92e1962deded7ff1543a' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/content_style.css?h=6562ca45ebba28f2a7c781760ef2d5b4' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/styles.css?h=d70065106814f9781a755c254691f8c2' %}">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <!-- Navbar module -->
            {% include 'lost-empire/site_templates/modules/navbar/normal/navbar.html' %}
        </section>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <!-- Account Navbar module -->
                    {% include 'lost-empire/site_templates/modules/navbar/account_navbar/navbar.html' %}

                    <div class="col-md-9 col-lg-10 col-xl-10">
                        <h1 class="text-light">ACCOUNT HISTORY</h1>
                        <div class="row">
                            <div class="col-xl-4 history-col">
                                <h6>History ID: {{history.pk}}</h6>
                                <h6>Subtotal: {{history.subtotal}}</h6>
                                <h6>Shipping Cost: {{history.shipping}}</h6>
                                <h6>Total: {{history.total}}</h6>
                                <h6>Date Purchased: {{history.date}}</h6>
                                <h6>Products ( {{history.products}} )</h6>
                                <div class="history-col-scroll-div">
                                    <p>Product ID:&nbsp;<a href="#">{{history.product.pk}}</a><br>Product Price: {{history.product.price}}<br>Quantity: {{history.product.quantity}}</p>
                                    <p>Product ID:&nbsp;<a href="#">{{history.product.pk}}</a><br>Product Price: {{history.product.price}}<br>Quantity: {{history.product.quantity}}</p>
                                    <p>Product ID:&nbsp;<a href="#">{{history.product.pk}}</a><br>Product Price: {{history.product.price}}<br>Quantity: {{history.product.quantity}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-dark">
        <!-- Footer module -->
        {% include 'lost-empire/site_templates/modules/footer/footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'lost-empire/assets/js/ghost.js?h=4e8811a537424a39e02a3ff5ae6220f2' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>