<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% with page_title="ACCOUNT - SECURITY" %}
    <!-- Meta module -->
    {% include 'lost-empire/site_templates/modules/HEAD_META/meta.html' %}
    {% endwith %}
    <!-- Icon module -->
    {% include 'lost-empire/site_templates/modules/HEAD_ICON/icon.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/account/account.css?h=0a8e5b070d66914380af7e1bf9b7c6ba' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/account/security.css?h=d41d8cd98f00b204e9800998ecf8427e' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/content_style.css?h=6562ca45ebba28f2a7c781760ef2d5b4' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/styles.css?h=d70065106814f9781a755c254691f8c2' %}">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <!-- Navbar module -->
            {% include 'lost-empire/site_templates/modules/navbar/normal/navbar.html' %}
        </section>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <!-- Account Navbar module -->
                    {% include 'lost-empire/site_templates/modules/navbar/account_navbar/navbar.html' %}

                    <div class="col">
                        <h1 class="text-center text-sm-center text-md-left text-lg-left text-xl-left text-light">ACCOUNT SECURITY</h1>
                        <div class="row d-flex flex-column justify-content-center align-items-center align-content-center justify-content-sm-center align-items-sm-center justify-content-md-start align-items-md-start align-content-md-start justify-content-lg-start align-items-lg-start align-content-lg-start justify-content-xl-start align-items-xl-start align-content-xl-start">
                            <div class="col-10 col-sm-7 col-md-8 col-lg-6 col-xl-5">
                                <form action="/account/security" method="post">{% csrf_token %}
                                    <!-- Alert module -->
                                    {% include 'lost-empire/site_templates/modules/alert/alert.html' %}
                                    <div class="form-group"><label class="text-light" for="opwd">Enter your old password</label>
                                        <div class="d-flex align-items-center"><input class="form-control" type="password" id="opwd" name="opwd" placeholder="Old password" required="" minlength="8" maxlength="64"><i class="far fa-eye-slash pwd_visible_toggle" id="opwd_visible_toggle"></i></div>
                                    </div>
                                    <div class="form-group"><label class="text-light" for="npwd">Enter new password</label>
                                        <div class="d-flex flex-row align-items-center"><input class="form-control" type="password" id="npwd" name="npwd" placeholder="New Password" required="" minlength="8" maxlength="64"><i class="far fa-eye-slash pwd_visible_toggle" id="npwd_visible_toggle"></i></div>
                                    </div>
                                    <div class="form-group"><label class="text-light" for="cpwd">Confirm the new password</label>
                                        <div class="d-flex flex-row align-items-center"><input class="form-control" type="password" id="cpwd" name="cpwd" placeholder="Confirm Password" required="" minlength="8" maxlength="64"><i class="far fa-eye-slash pwd_visible_toggle" id="cpwd_visible_toggle"></i></div>
                                    </div>
                                    <div class="form-group"><button class="btn btn-primary" type="submit">Change Password</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-dark">
        <!-- Footer module -->
        {% include 'lost-empire/site_templates/modules/footer/footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'lost-empire/assets/js/account/security.js?h=c96a282c21bf0dbcc869daeadc559109' %}"></script>
    <script src="{% static 'lost-empire/assets/js/ghost.js?h=4e8811a537424a39e02a3ff5ae6220f2' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>