<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% with page_title="CART" %}
    <!-- Meta module -->
    {% include 'lost-empire/site_templates/modules/HEAD_META/meta.html' %}
    {% endwith %}
    <!-- Icon module -->
    {% include 'lost-empire/site_templates/modules/HEAD_ICON/icon.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/cart.css?h=1ca5e1ff94538c70e64fe547e1c19180' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/content_style.css?h=6562ca45ebba28f2a7c781760ef2d5b4' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/styles.css?h=d70065106814f9781a755c254691f8c2' %}">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <!-- Navbar module -->
            {% include 'lost-empire/site_templates/modules/navbar/normal/navbar.html' %}
        </section>
        <section id="hero_1">
            <div class="container-fluid">
                <div class="row d-flex flex-row justify-content-between align-items-start align-content-start">
                    <div class="col-lg-7" id="hero_1_product_col">
                        <div class="row">
                            <div class="col">
                                <h4 class="text-center text-light" id="cart_status_heading">Cart is empty</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4" id="hero_1_checkout_col">{% csrf_token %}
                        <!-- <h5 class="text-break d-flex flex-row justify-content-between align-items-center align-content-center">Subtotal<span id="subtotal_price"><i class="fas fa-euro-sign"></i>&nbsp;<strong>0.00</strong></span></h5>
                        <h5 class="text-break d-flex flex-row justify-content-between align-items-center align-content-center">Shipping<span id="shipping_price"><i class="fas fa-euro-sign"></i>&nbsp;<strong>0.00</strong></span></h5> -->
                        <h4 class="text-break d-flex flex-column justify-content-between align-items-center align-content-start flex-sm-column flex-md-column flex-lg-column flex-xl-row">ESTIMATED TOTAL<span id="total_price"><i class="fas fa-euro-sign"></i><strong>0.00</strong></span></h4>
                        <!-- <h6 id="discount_per">Discount: <strong>0%</strong></h6>
                        <div class="row">
                            <div class="col d-flex flex-row justify-content-center align-content-center coupon-col">
                                <input type="text" id="coupon_input" placeholder="Enter Coupon" name="coupon_input">
                                <button class="btn btn-primary border rounded-0" id="coupon_apply_btn" type="button">APPLY</button>
                            </div>
                        </div> -->
                        <div class="row d-flex flex-row justify-content-center">
                            <div class="col-sm-10 col-md-7 col-lg-12">
                                <label>*Shipping cost will be shown in the checkout page.<br>The password for Lost Empire's Shopify: <strong>crield</strong></label>
                                <button class="btn btn-primary btn-block" id="checkout_btn" type="button" disabled="">CHECKOUT NOW</button>
                            </div>
                        </div>
                        <!-- <label>*Choose the country to Ship to<br>We use the PayPal form to get your address.<br></label>
                        <select class="custom-select" id="shipping_country" name="shipping_country">
                            <optgroup label="Select a country">
                                <option value="">Choose a Country</option>
                                {% for country in country_data %}
                                    {% if country.Country_Name %}
                                        <option value="{{ forloop.counter0 }}" id="country-{{ forloop.counter0 }}" data-continent="{{country.Continent}}" data-country="{{country.Country_Name}}">({{country.Continent}}) - {{country.Country_Name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        </select>
                        <div id="paypal-button-container"></div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-dark">
        <!-- Footer module -->
        {% include 'lost-empire/site_templates/modules/footer/footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'lost-empire/assets/js/ghost.js?h=4e8811a537424a39e02a3ff5ae6220f2' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&intent=capture&currency=EUR"></script>
    <script src="{% static 'lost-empire/assets/js/paypal.js?h=c123574bf6bef40bde1fcbc08a6b67f9' %}"></script>
</body>

</html>