<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% with page_title="HOME" %}
    <!-- Meta module -->
    {% include 'lost-empire/site_templates/modules/HEAD_META/meta.html' %}
    {% endwith %}
    <!-- Icon module -->
    {% include 'lost-empire/site_templates/modules/HEAD_ICON/icon.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/content_style.css?h=6562ca45ebba28f2a7c781760ef2d5b4' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/index.css?h=e80dc41b064fc54df3756eee4d2dc204' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/styles.css?h=d70065106814f9781a755c254691f8c2' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Video-Parallax-Background-v2.css?h=c18379e6a3304180022dfb6b3cead62d' %}">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <!-- Navbar module -->
            {% include 'lost-empire/site_templates/modules/navbar/normal/navbar.html' %}
        </section>
        <section id="hero_1">
            <div class="parallax">
                <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
                    <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                        <h1 data-aos="fade-up" data-aos-duration="900"><img src="{% static 'lost-empire/assets/img/logo/logo0.png?h=0aa5eb9a24c8d45211a2ce230a838430' %}" width="60%"></h1>
                        <p data-aos="flip-down" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lobortis quam. Donec quis augue viverra, hendrerit felis ut, sagittis purus. Nam sodales auctor dictum. Integer eu justo ultricies, tincidunt leo egestas, aliquet nunc.</p>
                    </div>
                </div><video class="parallax-background" autoplay="" loop="" muted="">
                    <source src="{% static 'lost-empire/video/LE0.mp4' %}" type="video/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':25}},{'type':'text','name':'video_css','label':'Video CSS (eg. filters)','wrapper':{'width':25}}]" wp-attr="[{'target':'src','replace':'%1'},{'target':'parent_style','replace':'%2'}]">
                </video>
                <div class="parallax-placeholder"></div>
            </div>
        </section>
        <section id="hero_2">
            <div class="container-fluid">
                <h1 class="text-left text-light hero_2_heading0">SHOP BY CATEGORY</h1>
                <div class="row no-gutters justify-content-center">
                    {% for category in categories %}
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col card-color-{{category.card_color}}">
                        <a class="d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_link" href='/shop?category=["{{category.category}}"]&page=0'>
                            <img class="content_style_cat_img" src="{{category.image_0.url}}" loading="auto">
                            {% if category.card_color == "white" %}
                            <h3 class="text-center text-dark content_style_cat_heading">{{category.category}}</h3>
                            {% elif category.card_color == "black" %}
                            <h3 class="text-center text-light content_style_cat_heading">{{category.category}}</h3>
                            {% elif category.card_color == "gray" %}
                            <h3 class="text-center text-light content_style_cat_heading">{{category.category}}</h3>
                            {% endif %}
                        </a></div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="hero_3">
            <div class="container-fluid">
                <h1 class="text-right text-light hero_3_heading0">NEW PRODUCTS</h1>
                <div class="row no-gutters">
                    {% for product in products %}
                        <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col card-color-{{product.card_color}}">
                            <a class="d-flex flex-column justify-content-between align-items-center align-content-center content_style_cat_link" href="/product?q={{product.hash_key}}">
                                <img class="content_style_cat_img" src="{{product.image_0.url}}" loading="auto">
                            <h6 class="text-break text-center content_style_cat_heading">‎€{{product.price}}
                                <span class="sale_price_item">{{product.old_price}}</span>
                            </h6>
                        </a></div>
                    {% endfor %}
                </div>
                <div class="row d-flex flex-row justify-content-center align-items-center align-content-center hero_3_row_2">
                    <div class="col offset-xl-0 d-flex flex-column justify-content-center align-items-center align-content-center"><a class="btn btn-primary btn-sm" role="button" href="shop">VIEW MORE</a></div>
                </div>
            </div>
        </section>
        {% if not user.is_authenticated %}
        <section id="hero_4">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center align-items-center align-content-center">
                        <h1 class="text-center text-light">SIGN UP &amp; SAVE BIG</h1>
                        <p class="text-center text-light">By signing up you'll get special offers and discounts.</p><a class="btn btn-primary hero_4_btn" role="button" href="signin">CREATE AN ACCOUNT TODAY!</a>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
    <div class="footer-dark">
        <!-- Footer module -->
        {% include 'lost-empire/site_templates/modules/footer/footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'lost-empire/assets/js/ghost.js?h=4e8811a537424a39e02a3ff5ae6220f2' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/Video-Parallax-Background-v2.js?h=d5bb12a816cfe3264f2260b2c6ce2e2a' %}"></script>
</body>

</html>