<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lost Empire</title>
    <meta name="twitter:description" content="LOST EMPIRE
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lobortis quam. Donec quis augue viverra, hendrerit felis ut, sagittis purus. Nam sodales auctor dictum. Integer eu justo ultricies, tincidunt leo egestas, aliquet nunc. Nullam viverra a dolor vitae euismod. Vivamus lobortis sem molestie mi pharetra, consequat tincidunt lacus varius. Suspendisse potenti. Nullam luctus ac nisi sit amet lacinia. Aliquam non elit ut dui bibendum cursus vitae non elit. Vivamus quam dui, vulputate ut blandit id, lacinia quis risus. Cras tempus at lorem sit amet condimentum. Pellentesque sed dui eros. Fusce accumsan finibus tortor, sit amet gravida ante semper non.">
    <meta property="og:image" content="../assets/img/favicons/512.png?h=7f2e7dbb74c9169d8c7f9d23d0aea51d">
    <meta name="twitter:title" content="Lost Empire">
    <meta name="description" content="LOST EMPIRE
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lobortis quam. Donec quis augue viverra, hendrerit felis ut, sagittis purus. Nam sodales auctor dictum. Integer eu justo ultricies, tincidunt leo egestas, aliquet nunc. Nullam viverra a dolor vitae euismod. Vivamus lobortis sem molestie mi pharetra, consequat tincidunt lacus varius. Suspendisse potenti. Nullam luctus ac nisi sit amet lacinia. Aliquam non elit ut dui bibendum cursus vitae non elit. Vivamus quam dui, vulputate ut blandit id, lacinia quis risus. Cras tempus at lorem sit amet condimentum. Pellentesque sed dui eros. Fusce accumsan finibus tortor, sit amet gravida ante semper non.">
    <meta name="twitter:image" content="../assets/img/logo/logo0.png?h=0aa5eb9a24c8d45211a2ce230a838430">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/16.png?h=47048e0906762a9970a26e027e41afe6">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/32.png?h=63603e8842df123042e086cc71b79bc6">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/favicons/180.png?h=5bf18982e39ef15283ec3d93b5b36c3d">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/192.png?h=5bf18982e39ef15283ec3d93b5b36c3d">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/favicons/512.png?h=7f2e7dbb74c9169d8c7f9d23d0aea51d">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="assets/css/content_style.css?h=9354df1c2ae53990499e1aa41f8eb141">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/index.css?h=c3c915d20ae778b41753e5ad0392e1e8">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec">
    <link rel="stylesheet" href="assets/css/styles.css?h=fd2006ac10d0cd1d9ad63a90b9f7b2ec">
    <link rel="stylesheet" href="assets/css/Video-Parallax-Background-v2.css?h=c18379e6a3304180022dfb6b3cead62d">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                <div class="container-fluid"><a class="navbar-brand" href="/"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/index.html"><i class="fas fa-home"></i>&nbsp;HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="/shop.html"><i class="fas fa-shopping-bag"></i>&nbsp;SHOP</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about.html"><i class="fas fa-info-circle"></i>&nbsp;ABOUT</a></li>
                        </ul>
                        <form class="form-inline mr-auto" target="_self" action="/shop.html">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                        </form>
                        <ul class="nav navbar-nav d-flex flex-column ml-auto flex-md-row justify-content-md-end flex-lg-row justify-content-lg-end flex-xl-row justify-content-xl-end">
                            <li class="nav-item"><a class="nav-link" href="/account/account.html"><i class="fas fa-user-circle"></i>&nbsp;ACCOUNT</a></li>
                            <li class="nav-item"><a class="nav-link" href="/cart.html"><i class="fas fa-shopping-cart"></i>&nbsp;CART&nbsp;<span id="navbar_cart_count">0</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/signin.html"><i class="fas fa-sign-in-alt"></i>&nbsp;SIGN IN</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <section id="hero_1">
            <div class="parallax">
                <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
                    <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                        <h1 data-aos="fade-up" data-aos-duration="900"><img src="assets/img/logo/logo0.png?h=0aa5eb9a24c8d45211a2ce230a838430" width="60%"></h1>
                        <p data-aos="flip-down" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lobortis quam. Donec quis augue viverra, hendrerit felis ut, sagittis purus. Nam sodales auctor dictum. Integer eu justo ultricies, tincidunt leo egestas, aliquet nunc.</p>
                    </div>
                </div><video class="parallax-background" autoplay="" loop="" muted="">
                    <source src="video/LE0.mp4" type="video/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':25}},{'type':'text','name':'video_css','label':'Video CSS (eg. filters)','wrapper':{'width':25}}]" wp-attr="[{'target':'src','replace':'%1'},{'target':'parent_style','replace':'%2'}]">
                </video>
                <div class="parallax-placeholder"></div>
            </div>
        </section>
        <section id="hero_2">
            <div class="container-fluid">
                <h1 class="text-light hero_2_heading0">SHOP BY CATEGORY</h1>
                <div class="row no-gutters justify-content-center">
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-between align-items-center align-content-center content_style_cat_link" href="/shop.html?type=%5B%22%7B%7Btype%7D%7D%22%5D"><img class="content_style_cat_img" src="assets/img/extras/Jacket-Design.png?h=f078965f6ed5d4830fcd524ba3548b48" loading="auto">
                            <h3 class="text-center text-light content_style_cat_heading">JACKETS</h3>
                        </a></div>
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-between align-items-center align-content-center content_style_cat_link" href="/shop.html?type=%5B%22%7B%7Btype%7D%7D%22%5D"><img class="content_style_cat_img" src="assets/img/extras/8d099a01a260aa0cd1e0f75d43ff9321.png?h=f26a6a4f34d2507851629504b52f87e2" loading="auto">
                            <h3 class="text-center text-light content_style_cat_heading">T-SHIRTS</h3>
                        </a></div>
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_link" href="/shop.html?type=%5B%22%7B%7Btype%7D%7D%22%5D"><img class="content_style_cat_img" src="assets/img/extras/image1604581937.png?h=2a32dfab9487a50ee15288736d1d0180" loading="auto">
                            <h3 class="text-center text-light content_style_cat_heading">PANTS</h3>
                        </a></div>
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_link" href="/shop.html?type=%5B%22%7B%7Btype%7D%7D%22%5D"><img class="content_style_cat_img" src="assets/img/extras/1025938.png?h=b8d6de7f7bad20d8a10db3e8eb7a793b" loading="auto">
                            <h3 class="text-center text-light content_style_cat_heading">METAL-PLATES</h3>
                        </a></div>
                </div>
            </div>
        </section>
        <section id="hero_3">
            <div class="container-fluid">
                <h1 class="text-right text-light hero_2_heading0">NEW PRODUCTS</h1>
                <div class="row no-gutters justify-content-center">
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-between align-items-center align-content-center content_style_cat_link" href="/product?q={{item_id}}"><img class="content_style_cat_img" src="assets/img/extras/8d099a01a260aa0cd1e0f75d43ff9321.png?h=f26a6a4f34d2507851629504b52f87e2" loading="auto">
                            <h6 class="text-break text-center text-light d-flex flex-row justify-content-center align-items-center align-content-center content_style_cat_heading">$12.50<span class="sale_price_item">$14.99</span></h6>
                        </a></div>
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_link" href="/product?q={{item_id}}"><img class="content_style_cat_img" src="assets/img/extras/1025938.png?h=b8d6de7f7bad20d8a10db3e8eb7a793b" loading="auto">
                            <h6 class="text-break text-center text-light content_style_cat_heading">$299.99<span class="sale_price_item">$312.15</span></h6>
                        </a></div>
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-between align-items-center align-content-center content_style_cat_link" href="/product?q={{item_id}}"><img class="content_style_cat_img" src="assets/img/extras/Jacket-Design.png?h=f078965f6ed5d4830fcd524ba3548b48" loading="auto">
                            <h6 class="text-break text-center text-light content_style_cat_heading">$29.99<span class="sale_price_item">$35.50</span></h6>
                        </a></div>
                    <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center content_style_cat_col"><a class="d-flex flex-column justify-content-between align-items-center align-content-center content_style_cat_link" href="/product?q={{item_id}}"><img class="content_style_cat_img" src="assets/img/extras/image1604581937.png?h=2a32dfab9487a50ee15288736d1d0180" loading="auto">
                            <h6 class="text-break text-center text-light content_style_cat_heading">$49.99<span class="sale_price_item">$51.99</span></h6>
                        </a></div>
                </div>
                <div class="row d-flex flex-row justify-content-center align-items-center align-content-center hero_3_row_2">
                    <div class="col offset-xl-0 d-flex flex-column justify-content-center align-items-center align-content-center"><a class="btn btn-primary btn-sm" role="button" href="shop.html">VIEW MORE</a></div>
                </div>
            </div>
        </section>
        <section id="hero_4">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center align-items-center align-content-center">
                        <h1 class="text-center text-light">SIGN UP &amp; SAVE BIG</h1>
                        <p class="text-center text-light">By signing up you'll get special offers and discounts.</p><a class="btn btn-primary hero_4_btn" role="button" href="signin.html">CREATE AN ACCOUNT TODAY!</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 offset-sm-0 item">
                        <h3>Rooms</h3>
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">SHOP</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">ACCOUNT</a></li>
                            <li><a href="#">CART</a></li>
                            <li><a href="signin.html">SIGN IN</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Lost Empire</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Lost Empire © 2020</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/ghost.js?h=dce0087c819dc049669157b3a07c6cc1"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="assets/js/Video-Parallax-Background-v2.js?h=81910c12a0000502c6f31bf0e802d587"></script>
</body>

</html>