<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% with page_title="SIGN-IN" %}
    <!-- Meta module -->
    {% include 'lost-empire/site_templates/modules/HEAD_META/meta.html' %}
    {% endwith %}

    <!-- Icon module -->
    {% include 'lost-empire/site_templates/modules/HEAD_ICON/icon.html' %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/content_style.css?h=6562ca45ebba28f2a7c781760ef2d5b4' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/signin.css?h=7803d90b8fd8a9140607afeab57b2d5a' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/styles.css?h=d70065106814f9781a755c254691f8c2' %}">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <!-- Navbar module -->
            {% include 'lost-empire/site_templates/modules/navbar/normal/navbar.html' %}
        </section>
        <section class="d-flex flex-column justify-content-center align-items-center align-content-center" id="hero_1">
            <div class="container">
                <div class="row d-flex flex-column justify-content-center align-items-center align-content-center">
                    <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-4">
                        {% with messages=messages %}
                        <!-- Signin form module -->
                        {% include 'lost-empire/site_templates/modules/pages/signin/signin.html' %}

                        <!-- Signup form module -->
                        {% include 'lost-empire/site_templates/modules/pages/signin/signup.html' %}

                        <!-- Forgot Password form module -->
                        {% include 'lost-empire/site_templates/modules/pages/signin/forgot_pwd.html' %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-dark">
        <!-- Footer module -->
        {% include 'lost-empire/site_templates/modules/footer/footer.html' %}
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'lost-empire/assets/js/ghost.js?h=4e8811a537424a39e02a3ff5ae6220f2' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/signin.js?h=d1a37e8c5d8ee6d883a161082e333479' %}"></script>
</body>

</html>