<!DOCTYPE html>
<html>
{% load humanize %}
{% load static %}
<head>
    {% with page_title="ZEUS - ORDER VIEW" %}
    <!-- Meta module -->
    {% include 'lost-empire/site_templates/modules/HEAD_META/meta.html' %}
    {% endwith %}
    <!-- Icon module -->
    {% include 'lost-empire/site_templates/modules/HEAD_ICON/icon.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tomorrow">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/content_style.css?h=6562ca45ebba28f2a7c781760ef2d5b4' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Footer-Dark.css?h=d44281ab81a24c48d198ae6022b2dd1a' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-Clean.css?h=715af1a9f7d7373d9121fe5fcbe570a6' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/Navigation-with-Search.css?h=10186aa1179248eadfffbeb446740fec' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/styles.css?h=d70065106814f9781a755c254691f8c2' %}">
    <link rel="stylesheet" href="{% static 'lost-empire/assets/css/zeus/orders/order_details.css?h=a41ba6c7612c34bba1640af755b02993' %}">
</head>

<body>
    <div id="main-div">
        <section id="hero_0">
            <!-- Zeus Navbar module -->
            {% include 'lost-empire/site_templates/modules/navbar/zeus/navbar.html' %}
        </section>
        <section id="hero_1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-ordered-item">
                        <h4 class="text-light">Ordered Items</h4>
                        <div class="div-scroll-order-items">
                            {% for cart in order_data.cart_data %}
                                <div class="row d-flex flex-row">
                                    <div class="col col-ordered-item card-color-{{cart.card_color}}">
                                        <img src="{{cart.image_0}}" width="100%">
                                        <p>
                                            <strong>Product ID:</strong>&nbsp;<a href="/product?q={{cart.product_id}}"><strong>{{cart.product_id}}</strong></a><br>
                                            <strong>Product Price:</strong>&nbsp;<i class="fas fa-euro-sign"></i>{{cart.price}}<br>
                                            <strong>Discount Per:</strong>&nbsp;(User - {{cart.discount_per.user_discount}}%) (Coupon - {{cart.discount_per.coupon_discount}}%)<br>
                                            <strong>Discount Price:</strong>&nbsp;<i class="fas fa-euro-sign"></i>{{cart.d_price}}<br>
                                            <strong>Quantity Ordered:</strong>&nbsp;{{cart.quantity}}<br>
                                            <strong>Size:</strong>&nbsp;{{cart.size}}<br>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <h4 class="text-light">Contact Information</h4>
                        <p class="text-light">
                            <strong>Buyer's Name:</strong>&nbsp;{{order_data.paypal_data.payer.name.given_name}} {{order_data.paypal_data.payer.name.surname}}<br>
                            <strong>E-Mail:</strong>&nbsp;{{order_data.paypal_data.payer.email_address}}<br>
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-md-0 col-order-details">
                        <h4 class="text-light">Order Details</h4>
                        <p class="text-light">
                            <strong>Order ID:</strong>&nbsp;{{order_data.hash_key}}<br>
                            <strong>Payment Status:</strong>&nbsp;{{order_data.paypal_data.purchase_units.0.payments.captures.0.status}}<br>
                            <strong>Payment ID:</strong> {{order_data.paypal_data.purchase_units.0.payments.captures.0.id}}<br>
                            <strong>Reference ID:</strong> {{order_data.paypal_data.purchase_units.0.reference_id}}<br>
                            <br>
                            <strong>Subtotal Price:</strong>&nbsp;<i class="fas fa-euro-sign"></i>&nbsp;{{order_data.subtotal}}<br>
                            <strong>Shipping Price:</strong>&nbsp; <i class="fas fa-euro-sign"></i>&nbsp;{{order_data.shipping_cost}}<br>
                            <strong>Total Price:</strong>&nbsp; <i class="fas fa-euro-sign"></i>&nbsp;{{order_data.total}}<br>
                            <br>
                            <strong>PayPal Total:</strong>&nbsp; <i class="fas fa-euro-sign"></i>&nbsp;{{order_data.paypal_data.purchase_units.0.amount.value}}<br>
                            <strong>Date the Order was made:</strong>&nbsp;{{order_data.date_made}}<br>
                            <br>
                            <strong>Order STATUS:</strong> {{order_data.order_status}}<br>
                            {% if order_data.denied_msg %}
                                <strong>Reason for denial of Order:</strong>&nbsp;<br>{{denied_msg}}<br>
                            {% endif %}
                            {% if order_data.refund_amount %}
                                <strong>Refund Client:</strong>&nbsp; <i class="fas fa-euro-sign"></i>&nbsp;{{order_data.refund_amount}}
                            {% endif %}
                        </p>
                        <h4 class="text-light">Shipping Address</h4>
                        <p class="text-light">
                            <strong>Full Name:</strong><br>{{order_data.paypal_data.payer.name.given_name}} {{order_data.paypal_data.payer.name.surname}}<br>
                            <strong>Payer ID:</strong><br>{{order_data.paypal_data.payer.payer_id}}<br>
                            <strong>Payer E-mail:</strong><br>{{order_data.paypal_data.payer.email_address}}<br>
                            <strong>Addess Line 1:</strong><br>{{order_data.paypal_data.purchase_units.0.shipping.address.address_line_1}}<br>
                            <strong>Address Line 2:</strong><br>{{order_data.paypal_data.purchase_units.0.shipping.address.address_line_2}}<br>
                            <strong>City / Town / Village:</strong><br>{{order_data.paypal_data.purchase_units.0.shipping.address.admin_area_2}}<br>
                            <strong>Province / State:</strong><br>{{order_data.paypal_data.purchase_units.0.shipping.address.admin_area_1}}<br>
                            <strong>Country:</strong><br>{{order_data.paypal_data.purchase_units.0.shipping.address.country_code}}<br>
                            <strong>Postal Code:</strong><br>{{order_data.paypal_data.purchase_units.0.shipping.address.postal_code}}<br>
                            <br>
                            <strong>FULL ADDRESS INFORMATION:</strong><br>{{order_data.paypal_data.purchase_units.0.shipping.address}}<br>
                        </p>
                        {% if order_data.shipping_company %}
                        <h4 class="text-light">Shipping Company</h4>
                        <p class="text-light">
                            <strong>Shipping Company Name:</strong><br>{{order_data.shipping_company}}<br>
                            <strong>Tracking Code:</strong><br>{{order_data.tracking_id}}
                        </p>
                        {% endif %}
                        {% if order_data.order_status == "DENIED" %}
                            <h4 class="text-danger"><strong>ORDER DENIED</strong></h4>
                            <p class="text-light">
                                <strong>Amount Refunded: </strong>&nbsp; <i class="fas fa-euro-sign"></i>{{order_data.refund_amount}}<br>
                                <strong>Reason for denial of Order:</strong>&nbsp;<br>{{order_data.denied_msg}}<br>
                            </p>
                        {% endif %}
                        {% if order_data.order_status != "COMPLETED" %}
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-12 offset-1 offset-sm-1 offset-md-1 offset-lg-0 offset-xl-0 col-form">
                                <p class="text-light">
                                    <strong>If the order is done and is ready for shipping, press the "Done" button. The user will receive an email notifing them that their item is on their way to the location they have set.</strong>
                                </p>
                                <!-- Alert module -->
                                {% include 'lost-empire/site_templates/modules/alert/alert.html' %}
                                <form action="/zeus/orders/order_details?p=order_completed" method="post">
                                    {% csrf_token %}
                                    <input class="form-control" type="hidden" name="order" value="{{order_data.hash_key}}">
                                    <div class="form-group"><input class="form-control form-input" type="text" name="shippingcompany" placeholder="Enter Shipping Company" required=""></div>
                                    <div class="form-group"><input class="form-control form-input" type="text" name="trackercode" placeholder="Enter  Shipping Tracker Code (Optional)"></div>
                                    <div class="form-group"><button class="btn btn-primary form-btn" type="submit">COMPLETED</button></div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        {% if order_data.order_status != "DENIED" %}
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-12 offset-1 offset-sm-1 offset-md-1 offset-lg-0 offset-xl-0 col-form">
                                <p class="text-light">
                                    <strong>If the order cannot be done due to any issues, fill in the box bellow with the reason for the order not being completed and denied.</strong>
                                </p>
                                <!-- Alert module -->
                                {% include 'lost-empire/site_templates/modules/alert/alert.html' %}
                                <form action="/zeus/orders/order_details?p=denied_order" method="post">{% csrf_token %}
                                    <input class="form-control" type="hidden" name="order" value="{{order_data.hash_key}}">
                                    <div class="form-group">
                                        <textarea class="form-control form-input" name="deniedmessage" placeholder="Message to user" required="" minlength="20"></textarea>
                                        <div class="custom-control custom-switch" style="font-size: 16px;padding-left: 35px;">
                                            <input class="custom-control-input" type="checkbox" id="formCheck-1" name="refund_order_checkbox" checked="">
                                            <label class="custom-control-label text-light" for="formCheck-1">Refund Order (Default: ON)
                                                <i class="fas fa-question-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" title="The client that made this order will be Refunded. There is a Refund fee by PayPal included in the Refund. For more information on the Fee go to PayPal's website."></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group"><button class="btn btn-primary form-btn deny-btn" type="submit">DENY ORDER<br></button></div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-dark">
        <!-- Footer module -->
        {% include 'lost-empire/site_templates/modules/footer/footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lost-empire/assets/js/bs-init.js?h=2e4f94618d12c613ae5f1a99ad96090e' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'lost-empire/assets/js/ghost.js?h=4e8811a537424a39e02a3ff5ae6220f2' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>